.notification_block {
    transform: translate(-50%, -50%);
    left: 50%;
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 90%;
}

.notification_failed {
    border: 2px solid black;
    padding: 10px 80px;
    border-radius: 10px;
    height: 100%;
    background-color: #c56d6d;
}

.notification_succeed {
    border: 2px solid black;
    padding: 10px 80px;
    border-radius: 10px;
    height: 100%;
    background-color: #489e48;
}